<%= simple_form_for(@team) do |f| %>
  <%= f.error_notification %>
  <%= f.input :photo, as: :attachinary %>
  <%= f.input :name, label: "Nom de l'équipe" %>
  <%= f.input :city, label: "Ville" %>
  <br>
  <div class="text-center">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
