<div class="network-wrapper">
  <div class="network-left-container">
    <%= render "/cards/profile-card" %>
    <br>
    <%= render "/cards/infos-card" %>
  </div>
  <div class="network-center-container">
    <form action="/teams/search" class="search">
      <input type="text" name="query" class="search-input" placeholder="Rechercher une équipe par nom, ville, centre...">
      <button type="submit" class="btn btn-primary text-small">
        <i class="fa fa-search margin-right"></i> Rechercher
      </button>
    </form>
    <% @teams.each do |team| %>
      <%= render 'cards/team-card-large', team: team %>
      <br>
    <% end %>
  </div>
  <div class="network-right-container">
    <div class="card-image">
      <div class="title-card text-center">
        <h6 class="uppercase">réseau (<%= @relationships.count %>)</h6>
      </div>
      <br>
      <% @relationships.each do |relationship| %>
        <%= link_to team_path(relationship.team), class: "link-unstyled" do %>
          <%= render 'cards/team-list', team: relationship.team %>
        <% end %>
      <% end %>
    </div>
  </div>
  <br>
  <br>
  <%= will_paginate @teams, class: "pagination" %>
</div>
