<div class="teams-wrapper">
  <div class="teams-left-container">
    <% if @team.members.where("pending = ?", true).size > 0 %>
      <%= render 'cards/pending-members-card', team: @team %>
      <br>
    <% end %>
    <div class="card-image">
      <div class="title-card text-center">
        <h6 class="uppercase">l'équipe</h6>
        <% if policy(Event).create? %>
          <%= link_to new_event_path, class: "link-unstyled" do %>
            <i class="fa fa-plus-circle text-xl blue title-card-icon top-popover" data-content="Ajouter un événement"></i>
          <% end %>
        <% end %>
        <% if current_user.has_team == false || current_user.members.first.team != @team %>
          <% if current_user.has_relationship?(@team) %>
            <%= link_to relationship_path(current_user.relationships.where(team: @team).first), method: :delete do %>
              <i class="fa fa-minus-circle text-xl blue title-card-icon"></i>
            <% end %>
          <% else %>
            <%= link_to relationships_path(team_id: @team.id), method: :post do %>
              <i class="fa fa-plus-circle text-xl blue title-card-icon"></i>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <br>
      <%= render 'cards/team-list', team: @team %>
    </div>
    <br>
    <div class="card">
      <div class="title-card text-center">
        <h6>INFOS</h6>
      </div>
      <br>
      <br>
      <p class="blue-dark text-small">Date de création : <span class="grey-dark text-small icon"> <%= @team.created_at.strftime("%Y") %> </span></p>
      <p class="blue-dark text-small">Nb membres : <span class="grey-dark text-small icon"> <%= @team.members.size %> </span> <i class="fa fa-male text-large blue"></i></p>
      <p class="blue-dark text-small">Matchs joués : <span class="grey-dark text-small icon"> <%= @last_events.size %> </span> <i class="fa fa-futbol-o blue"></i></p>
      <p class="blue-dark text-small">Centre favori : </p>
      <% if @team.location %>
        <%= image_tag @team.location.image, style:"width: 63px" %>
      <% end %>
    </div>
    <br>
    <div class="hidden-md hidden-lg">
      <%= render "/cards/members-card" %>
    </div>
  </div>
  <div class="teams-center-container">
    <div id="team-show" class="card-image-untitle-large team_member_infos">
      <% if @team.photo? %>
        <%= cl_image_tag @team.photo.path, class: "image-team-untitle-large", width: 1000, height: 600, crop: :fill %>
      <% else %>
        <%= image_tag "team.png", class: "image-team-untitle-large"%>
      <% end %>
      <div class="logo-inside-untitle-large">
        <% if @team.logo %>
          <%= image_tag @team.logo.image, style:"width: 60px" %>
        <% else %>
          <%= image_tag "logo.png", style:"width: 60px" %>
        <% end %>
      </div>
      <br>
      <br>
      <div class="text-center">
        <br>
        <p class="blue-dark text-xl text-semi-bold"><%= @team.name %></p>
        <p class="grey-dark text-large"><i class="fa fa-map-marker"></i> <%= @team.city %></p>
        <div class="bottom-left-icon">
          <% if policy(@invitation).create? %>
            <button type="button" class="btn btn-default text-small" data-toggle="modal" data-target="#modalInvitations">
              Inviter <i class="fa fa-user blue margin-left"></i>
            </button>
          <% else %>
          <button type="button" class="btn btn-default text-small" data-toggle="modal" data-target="#modalMessages">
            Contacter <i class="fa fa-envelope blue margin-left"></i>
          </button>
          <% end %>
        </div>
        <% if current_user.members.where("pending = ?", true).any? && current_user.members.first.team == @team %>
          <div class="bottom-right-icon">
            <%= link_to member_path(current_user.members.first.id), class: "btn btn-default text-small", method: :delete, data: { confirm: "Etes vous sur de vouloir annuler cette demande ?"} do %>
              <span class="red">Annuler la demande <i class="fa fa-times"></i></span>
            <% end %>
          </div>
        <% elsif policy(Member).create? %>
          <div class="bottom-right-icon">
            <%= link_to members_path(team_id: @team.id), class: "btn btn-primary text-small", method: :post do %>
              Rejoindre <i class="fa fa-plus-circle white"></i>
            <% end %>
          </div>
        <% end %>
      </div>
      <% if policy(@team).update? %>
        <div class="bottom-right-icon">
          <%= link_to edit_team_path(@team) do %>
            <i class="fa fa-cog grey-dark text-large bottom-popover" data-content="Editer mon équipe"></i>
          <% end %>
        </div>
      <% end %>
    </div>
    <% @members.each do |member| %>
      <%= render 'cards/team-member-infos', member: member %>
    <% end %>
    <br>
  </div>
  <div class="teams-right-container">
    <%= render "/cards/members-card" %>
  </div>
</div>
<!-- Modal Invitations-->
<%= render 'modals/modal-invitation' %>
<!-- Modal Messages-->
<%= render 'modals/modals-messages' %>
