<div class="wrapper">
  <div class="left-container">
    <div class="card-image">
      <div class="title-card text-center">
        <h6 class="uppercase">l'équipe</h6>
      </div>
      <br>
      <%= link_to "#", class: "link-unstyled" do %>
        <div class="list-card-m">
          <% if @team.logo %>
            <%= image_tag @team.logo.image, style:"width: 45px", class:"float-left" %>
          <% else %>
            <%= image_tag "logo.png", style:"width: 45px", class:"float-left" %>
          <% end %>
          <span class="blue-dark text-semi-bold text-small"><%= @team.name %>
          <br>
          <span class="grey-dark text-normal"> <%= @team.city %> </span></span>
        </div>
      <% end %>
    </div>
    <br>
    <% if @team.members.where("pending = ?", true).size > 0 %>
      <%= render 'cards/pending-members-card', team: @team %>
      <br>
    <% end %>
    <%= render "/cards/members-card" %>
  </div>
  <div class="center-container">
    <div class="card-image-untitle-large">
      <% if @team.photo? %>
        <%= cl_image_tag @team.photo.path, class: "image-team-untitle-large", width: 1000, height: 600, crop: :fill %>
      <% else %>
        <%= image_tag "team.png", class: "image-team-untitle-large"%>
      <% end %>
      <div class="logo-inside-untitle-large">
        <% if @team.logo %>
          <%= image_tag @team.logo.image, style:"width: 50px" %>
        <% else %>
          <%= image_tag "logo.png", style:"width: 50px" %>
        <% end %>
      </div>
      <br>
      <br>
      <div class="text-center">
        <br>
        <p class="blue-dark text-large text-semi-bold"><%= @team.name %></p>
        <p class="grey-dark text-small"><i class="fa fa-map-marker"></i> <%= @team.city %></p>
        <% if current_user.members.where("pending = ?", true).size > 0 && current_user.members.first.team == @team %>
          <div class="bottom-right-icon">
            <%= link_to member_path(current_user.members.first.id), class: "btn btn-default text-small", method: :delete, data: { confirm: "Etes vous sur de vouloir annuler cette demande ?"} do %>
              <span class="red">Annuler la demande <i class="fa fa-times"></i></span>
            <% end %>
          </div>
        <% elsif policy(Member).create? %>
          <div class="bottom-right-icon">
            <%= link_to members_path(team_id: @team.id), class: "btn btn-primary text-small", method: :post do %>
              Rejoindre <i class="fa fa-plus-circle white"></i>
            <% end %>
          </div>
        <% end %>
      </div>
      <% if policy(@team).update? %>
        <div class="bottom-right-icon">
          <%= link_to edit_team_path(@team) do %>
            <i class="fa fa-cog grey-dark text-large"></i>
          <% end %>
        </div>
      <% end %>
    </div>
    <br>
    <div class="card">
      <div class="title-card">
        <h6 class="uppercase text-center">infos</h6>
      </div>
      <br>
      <br>
      <div class="float-left">
        <p class="blue-dark text-small">Date de création : <span class="grey-dark text-small icon"> <%= @team.created_at.strftime("%Y") %> </span></p>
        <p class="blue-dark text-small">Nombre de membres : <span class="grey-dark text-small icon"> <%= @team.members.size %> </span> <i class="fa fa-male text-large blue"></i></p>
        <p class="blue-dark text-small">Matchs joués : <span class="grey-dark text-small icon"> 0 </span> <i class="fa fa-futbol-o blue"></i></p>
        <p class="blue-dark text-small">Compétition actuelle : </p>
      </div>
      <div class="float-right text-center">
        <p class="blue-dark text-small">Centre de Foot 5 favori : </p>
        <% if @team.location %>
          <%= image_tag @team.location.image, style:"width: 80px" %>
        <% end %>
      </div>
    </div>

  </div>
  <div class="right-container">
    <%= render "/cards/next-match-card" %>
  </div>
</div>
<!-- Modal Invitations-->
<%= render 'modal-invitation' %>
