<div class="wrapper">
  <div class="left-container">
    <div class="card-image">
      <div class="title-card text-center">
        <h6 class="uppercase">l'équipe</h6>
      </div>
      <br>
      <%= link_to "#", class: "link-unstyled" do %>
        <div class="list-card-m">
          <%= image_tag "logo.png", style:"width: 50px", class:"float-left" %>
          <span class="blue-dark text-semi-bold text-small"><%= @team.name %>
          <br>
          <span class="grey-dark text-normal"> <%= @team.city %> </span></span>
        </div>
      <% end %>
    </div>
    <br>
    <% if @team.members.where("pending = ?", true) > 0 %>
      <%= render 'cards/pending-members-card', team: @team %>
      <br>
    <% end %>
    <%= render "/cards/members-card" %>
  </div>
  <div class="center-container">
    <div class="card-image-untitle-large">
      <% if @team.photo? %>
        <%= cl_image_tag @team.photo.path, class: "image-team-untitle-large", width: 1000, height: 600, crop: :fill %>
      <% else %>
        <%= image_tag "team.png", class: "image-team-untitle-large"%>
      <% end %>
      <div class="logo-inside-untitle-large">
        <%= image_tag "logo.png", style:"width: 50px" %>
      </div>
      <br>
      <br>
      <div class="text-center">
        <br>
        <p class="blue-dark text-large text-semi-bold"><%= @team.name %></p>
        <p class="grey-dark text-small"><i class="fa fa-map-marker"></i> <%= @team.city %></p>
        <% if current_user.members.first.pending && current_user.members.first.team == @team %>
          <div class="bottom-right-icon">
            <%= link_to "#", class: "btn btn-default text-small", method: :delete do %>
              <span class="red">Annuler la demande <i class="fa fa-times"></i></span>
            <% end %>
          </div>
        <% elsif current_user.has_team == false %>
          <div class="bottom-right-icon">
            <%= link_to members_path(team_id: @team.id), class: "btn btn-primary text-small", method: :post do %>
              Rejoindre <i class="fa fa-plus-circle white"></i>
            <% end %>
          </div>
        <% end %>
      </div>
      <% if @team.user == current_user %>
        <div class="bottom-right-icon">
          <%= link_to edit_team_path(@team) do %>
            <i class="fa fa-cog grey-dark text-large"></i>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>
  <div class="right-container">
    <%= render "/cards/next-match-card" %>
  </div>
</div>
