<div class="profile-wrapper">
  <div class="profile-left-container">
    <%= render 'cards/profile-card' %>
    <br>
    <div class="hidden-sm hidden-md hidden-lg">
      <%= render 'form-profile' %>
    </div>
    <br>
    <div class="hidden-sm hidden-md hidden-lg">
      <%= render 'form-account' %>
    </div>
  </div>
  <div class="profile-center-container-m">
    <%= render 'form-profile' %>
    <div class="hidden-md hidden-lg">
      <br>
      <%= render 'form-account' %>
    </div>
    <div class="text-center">
      <br>
      <h6>Supprimer mon compte</h6>

      <p>Pas satisfait ? <%= link_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Etes vous sur?" }, method: :delete %></p>

      <%= link_to "Retour", :back %>
    </div>
  </div>
  <div class="profile-right-container-m">
    <div class="card-form-white">
      <div class="title-card text-center">
        <h6>EDITER COMPTE</h6>
      </div>
      <br>
      <br>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :password, autocomplete: "off", required: false %>
          <%= f.input :password_confirmation, required: false %>
          <%= f.input :current_password, required: true %>
        </div>

        <div class="form-actions text-center">
          <%= f.button :submit, "Editer", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
