<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%= image_path "background.png" %>);">
  <div class="card-form">
    <h3 class= "text-center">Inscription</h3>
    <br>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="">
        <%= f.input :email, required: false, placeholder: "Email", label: false %>
        <%= f.input :first_name, placeholder: "Prénom", label: false %>
        <%= f.input :last_name, placeholder: "Nom", label: false %>
        <%= f.input :password, required: false, placeholder: "Entrer votre mot de passe", label: "Mot de passe"  %>
        <%= f.input :password_confirmation, required: false, placeholder: "Confirmer votre mot de passe", label: false %>
        <br>
      </div>
      <div class="form-actions">
        <%= link_to t(".sign_up", default: "Inscription"), new_user_registration_path, class: "btn btn-lg btn-success hidden-xs" %>
        <%= link_to t(".sign_up", default: "Inscription"), new_user_registration_path, class: "btn btn-success hidden-sm hidden-md hidden-lg" %>
      </div>
    <% end %>
  </div>
</div>
