<div class="navbar-blue">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo-befive.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-right hidden-xs hidden-sm">

    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>

      <!-- Text link -->
      <%= link_to "#", class: "navbar-item navbar-link" do %>
        <i class="fa fa-envelope" aria-hidden="true"></i>
      <% end %>

      <!-- Text link -->
      <%= link_to "#", class: "navbar-item navbar-link" do %>
        <i class="fa fa-bell" aria-hidden="true"></i>
      <% end %>

      <!-- Profile picture and dropdown -->
      <div class="navbar-item">
        <div class="dropdown">
          <% if current_user.avatar? %>
            <%= cl_image_tag current_user.avatar.path, class: "avatar navbar-img-user", width: 60, height: 60, crop: :fill %>
          <% else %>
            <%= image_tag "user-grey.svg", class: "avatar navbar-img-user" %>
          <% end %>
          <%= link_to "#", class: "dropdown-toggle navbar-link navbar-link-user", id: "navbar-menu", "data-toggle" => "dropdown" do %>
            <% if current_user.first_name %>
            <%= current_user.first_name %> <i class="fa fa-caret-down" aria-hidden="true"></i>
            <% else %>
              Prénom <i class="fa fa-caret-down" aria-hidden="true"></i>
            <% end %>
          <% end %>
          <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
            <li>
              <%= link_to user_path(current_user) do %>
                <i class="fa fa-user blue-grey icon"></i> <%= t(".profile", default: "Mon profil") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out icon red"></i>  <%= t(".sign_out", default: "Déconnexion") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

    <% end %>

  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle white" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
        <li>
          <%= link_to user_path(current_user) do %>
            <i class="fa fa-user blue-grey icon"></i> <%= t(".profile", default: "Mon profil") %>
          <% end %>
        </li>
        <% if current_user.has_team %>
          <li>
            <%= link_to team_path(current_user.members.first.team) do %>
              <i class="fa fa-users" aria-hidden="true"></i> Membres
            <% end %>
          </li>
          <li>
            <%= link_to events_path do %>
              <i class="fa fa-calendar" aria-hidden="true"></i> Evénements
            <% end %>
          </li>
        <% end %>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-sign-out icon red"></i>  <%= t(".sign_out", default: "Déconnexion") %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
