<div class="navbar-user">
  <div class="navbar-user-left hidden-xs hidden-sm">
    <div class="<%= 'link-active' if current_page?(root_path) %>">
      <!-- Text link -->
      <%= link_to root_path, class: "navbar-user-item navbar-user-link" do %>
        <i class="fa fa-home" aria-hidden="true"></i> Tableau de Bord
      <% end %>
    </div>
    <% if current_user.has_team %>
      <div class="<%= 'link-active' if current_page?(team_path(current_user.members.first.team)) %>">
        <!-- Text link -->
        <%= link_to team_path(current_user.members.first.team), class: "navbar-user-item navbar-user-link" do %>
          <i class="fa fa-users" aria-hidden="true"></i> Membres
        <% end %>
      </div>
    <% end %>
    <% if current_user.has_team %>
      <div>
        <!-- Text link -->
        <%= link_to "#", class: "navbar-user-item navbar-user-link" do %>
          <i class="fa fa-calendar" aria-hidden="true"></i> Evénements
        <% end %>
      </div>
    <% end %>
    <% if current_user.has_team %>
      <div>
        <!-- Text link -->
        <%= link_to "#", class: "navbar-user-item navbar-user-link" do %>
          <i class="fa fa-comments" aria-hidden="true"></i> Teamtalk
        <% end %>
      </div>
    <% end %>
    <div class="<%= 'link-active' if current_page?(teams_path) %>">
      <!-- Text link -->
      <%= link_to teams_path, class: "navbar-user-item navbar-user-link" do %>
        <i class="fa fa-globe" aria-hidden="true"></i> Réseau
      <% end %>
    </div>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-user-right hidden-xs hidden-sm">
    <% if current_user.has_team %>
      <!-- Team picture and dropdown -->
      <div class="navbar-user-item">
        <div class="dropdown">
          <% if current_user.members.first.team.logo %>
            <%= image_tag current_user.members.first.team.logo.image, class: "avatar-square navbar-user-img-user margin-right" %>
          <% else %>
            <%= image_tag "logo.png", class: "avatar-square navbar-user-img-user margin-right" %>
          <% end %>
          <%= link_to "#", class: "dropdown-toggle navbar-user-link navbar-user-link-user", id: "navbar-user-menu", "data-toggle" => "dropdown" do %>
            <%= current_user.members.first.team.name %> <i class="fa fa-caret-down" aria-hidden="true"></i>
          <% end %>
          <ul class="dropdown-menu dropdown-menu-right navbar-user-dropdown-menu">
            <% if current_user.manager %>
              <li>
                <%= link_to edit_team_path(current_user.teams.first) do %>
                  <i class="fa fa-pencil"></i> <%= t(".profile", default: "Editer l'équipe") %>
                <% end %>
              </li>
              <li>
                <%= link_to team_path(current_user.teams.first), method: :delete, data: { confirm: "Etes vous sur de vouloir supprimer cette équipe ?" } do %>
                  <i class="fa fa-times red"></i> <%= t(".profile", default: "Supprimer l'équipe") %>
                <% end %>
              </li>
            <% else %>
              <li>
                <%= link_to member_path(current_user.members.first.id), method: :delete, data: { confirm: "Etes vous sur de ne plus vouloir faire parti de #{current_user.members.first.team.name} ?"} do %>
                  <i class="fa fa-refresh"></i> Changer d'équipe
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-user-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle white" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-user-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
      </ul>
    </div>
  </div>
</div>
