<div class="navbar-transparent navbar-fixed ">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-transparent-brand" do %>
    <%= image_tag "logo-befive.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-transparent-right hidden-xs">

    <!-- Text link -->
    <%= link_to "#", class: "navbar-transparent-item navbar-transparent-link" do %>
      Blog
    <% end %>

    <!-- Login text link -->
    <%= link_to t(".sign_in", default: "Connexion"), new_user_session_path, class: "navbar-transparent-item navbar-transparent-link" %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-transparent-item hidden-sm hidden-md hidden-lg">
    <div class="dropdown">
      <i id="dropdown-toggle" class="fa fa-bars dropdown-toggle white" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-transparent-dropdown-menu">
        <li>
          <%= link_to t(".sign_in", default: "Connexion"), new_user_session_path, class: "navbar-transparent-item navbar-transparent-link" %>
        </li>
        <li>
        </li>
      </ul>
    </div>
  </div>
</div>
