<div class="card no-bottom-radius">
  <div class="title-card ">
    <%= link_to events_path, class: "btn btn-default text-small margin-left" do %>
      Tous les events <i class="fa fa-calendar blue margin-left" aria-hidden="true"></i>
    <% end %>
  </div>
  <br>
  <br>
  <div class="event">
    <div class="calendar-date">
      <div class="month">
        <%= @event.date.strftime("%b") %>.
      </div>
      <h4 class="day"><%= @event.date.strftime("%e") %></h4>
    </div>
    <%= image_tag @event.location.image, class: "float-right", style:"width: 80px" %>
    <div class="event-info">
      <h4 class="uppercase">
        <%= @event.category %>
        <% if policy(@event).update? %>
          <%= link_to edit_event_path(@event), class: "link-unstyled" do %>
            <i class="fa fa-pencil text-large margin-left"></i>
          <% end %>
          <%= link_to event_path(@event), class: "link-unstyled", method: :delete, data: { confirm: "Etes vous sur de vouloir annuler cet évenement ?" } do %>
            <i class="fa fa-ban text-large red margin-left"></i>
          <% end %>
        <% end %>
      </h4>
      <p class="time"><%= @event.time.strftime("%H h %M") %></p>
      <br>
      <p class="grey-medium text-small">
        <span class="margin-right grey-dark"><i class="fa fa-map-marker text-large icon margin-left" aria-hidden="true"></i>
         Lieu: </span> <%= @event.location.name.capitalize %>
      </p>
      <hr>
      <p class="grey-medium text-small">
        <span class="margin-right grey-dark"><i class="fa fa-calendar text-large icon margin-left" aria-hidden="true"></i>
         Date: </span><%= @event.date.strftime("%e %b %Y") %> à <%= @event.time.strftime("%H:%M") %>
      </p>
      <hr>
      <p class="grey-medium text-small">
        <span class="margin-right grey-dark"><i class="fa fa-bullhorn text-large icon" aria-hidden="true"></i>
         Réponses: </span>
        <%= @event.participations.where(validated: true).count %> <i class="fa fa-check-circle green text-large margin-right-m" aria-hidden="true"></i>
        <%= @event.participations.where(refused: true).count %> <i class="fa fa-minus-circle red text-large margin-right-m" aria-hidden="true"></i>
        <%= @event.participations.where(pending: true).count %> <i class="fa fa-question-circle grey-dark text-large margin-right-m" aria-hidden="true"></i>
      </p>
      <hr>
      <br>
      <% if @event.participations.where(user: current_user, pending: true, waiting_list: false).first %>
        <h6 class="uppercase">serez vous présent ?</h6>
        <% if policy(@user_pending_participation).validate? %>
          <%= link_to refuse_path(@user_pending_participation), class: "btn btn-default text-small margin-right" do %>
            Refuser <i class="fa fa-minus-circle red text-large margin-left" aria-hidden="true"></i>
          <% end %>
          <%= link_to validate_path(@user_pending_participation), class: "btn btn-success text-small" do %>
            Accepter <i class="fa fa-check-circle white text-large margin-left" aria-hidden="true"></i>
          <% end %>
        <% end %>
      <% elsif @event.participations.where(user: current_user, validated: true).first %>
        <p class="text-large green"><i class="fa fa-check-circle green text-large margin-right" aria-hidden="true"></i> Vous avez accepté</p>
      <% elsif @event.participations.where(user: current_user, refused: true).first %>
        <p class="text-large red"><i class="fa fa-minus-circle red text-large margin-right" aria-hidden="true"></i> Vous avez refusé</p>
        <% elsif @event.participations.where(user: current_user, waiting_list: true).first %>
          <p class="text-small red"><i class="fa fa-file-text-o red text-large margin-right" aria-hidden="true"></i> Vous êtes sur la liste d'attente</p>
      <% else %>
        <p class="text-small grey-medium"><i class="fa fa-times-circle text-large margin-right" aria-hidden="true"></i> Vous n'êtes pas selectionné pour ce match</p>
      <% end %>
      <br>
      <br>
    </div>
    <div class="tabs">
      <a class="tab active" data-target="#compo">
        <p class="text-small"><i class="fa fa-file-text margin-right" aria-hidden="true"></i> Composition</p>
      </a>
      <a class="tab" data-target="#comments">
        <p class="text-small"><i class="fa fa-comments text-large margin-right" aria-hidden="true"></i>Commentaires</p>
      </a>
    </div>
  </div>
</div>
<div class="participations-card tab-content" id="compo">
  <%= render 'events/event-disponibilities' %>
  <%= render 'events/event-composition' %>
  <%= render 'events/event-waiting-list' %>
</div>
<div class="comments tab-content hidden" id="comments">
  <%= render 'events/event-comments' %>
  <br>
  <%= render 'comments/form', event: @event, comment: @comment %>
</div>
