<p class="text-small blue-dark">
  <i class="fa fa-comments text-large margin-right" aria-hidden="true"></i> <%= pluralize @event.comments.size, "Commentaire" %>
</p>
<br>
<% if @event.comments.blank? %>
  <p class="text-small grey-medium text-center">"Soyez le premier à laisser un commentaire pour cet évenement."</p>
<% else %>
  <% @event.comments.each do |comment| %>
    <div class="comment">
      <%= cl_image_tag comment.user.avatar.path, width: 90, height: 90, crop: :fill, class: "avatar-s float-left margin-right" %>
      <p class="text-small blue-dark text-semi-bold comment-username margin-left"> <%= comment.user.first_name %>
      </p>
      <div class="clear"></div>
      <p class="text-small grey-medium comment-content">"<%= comment.content %>"</p>
      <span class="text-small grey-medium text-light"> Il y a <%= distance_of_time_in_words(Time.now, comment.created_at) %></span>
      <hr>
    </div>
  <% end %>
<% end %>
