<div class="participations-content-composition float-right">
  <h5 class="uppercase text-center"><em>composition</em> <i class="fa fa-file-text-o blue margin-left" aria-hidden="true"></i></h5>
  <br>
  <% if @selected_participations.empty? %>
    <hr>
    <div class="convocations-empty-message text-center">
      <span class="grey-medium text-normal text-small"><em>Ajoutez vos membres</em>
        <br>
        <i class="fa fa-share text-normal blue margin-left"></i> </span>
    </div>
  <% end %>
  <hr>
  <% @selected_participations.each do |participation| %>
    <div class="participations-members">
      <div class="convocations-members-info">
        <% if participation.user.avatar? %>
          <%= cl_image_tag participation.user.avatar.path, class: "avatar-s float-left margin-right", width: 80, height: 80, crop: :fill %>
        <% else %>
            <%= image_tag "user.png", class:"avatar-s float-left margin-right" %>
        <% end %>
        <span class="blue-dark text-semi-bold text-small margin-left"> <%= participation.user.first_name %> <%= participation.user.last_name %>
        <% if participation.user.manager? %>
          <i class="fa fa-star blue text-normal margin-left"></i>
        <% end %>
        <br>
        <span class="grey-dark text-normal margin-left hidden-xs">
          <% if participation.user.position? %>
            <%= participation.user.position.capitalize %>
          <% else %>
           Position
          <% end %>
        </span>
      </div>
      <div class="convocations-buttons">
        <% if participation.pending == true %>
          <i class="fa fa-question-circle text-large grey-dark margin-right-m" aria-hidden="true"></i>
        <% elsif participation.validated == true %>
          <i class="fa fa-check-circle text-large green margin-right-m" aria-hidden="true"></i>
        <% elsif participation.refused == true %>
          <i class="fa fa-minus-circle text-large red margin-right-m" aria-hidden="true"></i>
        <% elsif participation.sent == true %>
          <i class="fa fa-envelope text-small grey-m margin-right-m" aria-hidden="true"></i>
        <% end %>
        <% if policy(participation).unselect? && @event.date >= Date.today %>
          <span class="dropdown">
            <i class="fa fa-cog text-large dropdown-toggle grey-m margin" data-toggle="dropdown"></i>
            <ul class="dropdown-menu dropdown-menu-right navbar-user-dropdown-menu">
              <li>
                <%= link_to unselect_path(participation), method: :patch do %>
                  <i class="fa fa-undo text-small grey-medium margin-right" aria-hidden="true"></i>
                  <span class="grey-medium"> Retour au peloton</span>
                <% end %>
              </li>
              <li>
                <%= link_to waiting_list_path(participation) do %>
                  <i class="fa fa-file-text-o red text-small margin-left" aria-hidden="true"></i>
                  <span class="red"> Liste d'attente</span>
                <% end %>
              </li>
            </ul>
          </span>
        <% end %>
      </div>
    </div>
    <hr>
  <% end %>
  <div class="send-button">
    <% if policy(Participation).send_all? && @event.date >= Date.today %>
      <% if @not_sending_participations.size > 1 %>
        <%= link_to send_all_path(event_id: @event), class: "btn btn-primary text-small margin-right", method: :patch do %>
          Envoyer les convocations <i class="fa fa-envelope white margin-left" aria-hidden="true"></i>
        <% end %>
      <% elsif @not_sending_participations.any? %>
        <%= link_to send_all_path(event_id: @event), class: "btn btn-primary text-small margin-right", method: :patch do %>
          Envoyer la convocation <i class="fa fa-envelope white margin-left" aria-hidden="true"></i>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
