<div class="card">
  <%= link_to event_path(event), class: "link-unstyled" do %>
    <div class="calendar-date-s">
      <div class="month-s">
        <%= event.date.strftime("%b") %>.
      </div>
      <h5 class="day-s"><%= event.date.strftime("%e") %></h5>
    </div>
    <%= image_tag event.location.image, class: "float-right", style:"width: 60px" %>
    <div class="event-info-s">
      <h5 class="uppercase"><%= event.category %></h5>
      <p class="time-s"><%= event.time.strftime("%H h %M") %></p>
      <br>
      <p class="grey-medium text-small">
        <span class="margin-right grey-dark"><i class="fa fa-map-marker text-large icon margin-left" aria-hidden="true"></i>
         Lieu: </span> <%= event.location.name.capitalize %>
      </p>
      <hr>
      <p class="grey-medium text-small">
        <span class="margin-right grey-dark"><i class="fa fa-calendar text-large icon margin-left" aria-hidden="true"></i>
         Date: </span><%= event.date.strftime("%e %b %Y") %> à <%= event.time.strftime("%H:%M") %>
      </p>
      <hr>
      <p class="grey-medium text-small">
        <span class="margin-right grey-dark"><i class="fa fa-bullhorn text-large icon" aria-hidden="true"></i>
         Réponses: </span>
         <%= event.participations.where(validated: true).count %> <i class="fa fa-check-circle green text-large margin-right-m" aria-hidden="true"></i>
         <%= event.participations.where(refused: true).count %> <i class="fa fa-minus-circle red text-large margin-right-m" aria-hidden="true"></i>
         <%= event.participations.where(pending: true).count %> <i class="fa fa-question-circle grey-dark text-large margin-right-m" aria-hidden="true"></i>
      </p>
      <hr>
      <% if event.participations.where(user: current_user, pending: true, waiting_list: false).first %>
        <% if event.date >= Date.today %>
          <p class="text-small grey-dark"><i class="fa fa-question-circle grey-dark text-large margin-right" aria-hidden="true"></i> En attente de réponse</p>
        <% else %>
        <p class="text-small grey-dark"><i class="fa fa-question-circle grey-dark text-large margin-right" aria-hidden="true"></i> Vous n'avez pas donné de reponse</p>
        <% end %>
      <% elsif event.participations.where(user: current_user, validated: true).first %>
        <p class="text-small green"><i class="fa fa-check-circle green text-large margin-right" aria-hidden="true"></i> Vous avez accepté</p>
      <% elsif event.participations.where(user: current_user, refused: true).first %>
        <p class="text-small red"><i class="fa fa-minus-circle red text-large margin-right" aria-hidden="true"></i> Vous avez refusé</p>
      <% elsif event.participations.where(user: current_user, waiting_list: true).first %>
        <p class="text-small red"><i class="fa fa-file-text-o red text-small margin-right" aria-hidden="true"></i> Vous êtes sur la liste d'attente</p>
      <% else %>
        <p class="text-small grey-medium"><i class="fa fa-times-circle text-large margin-right" aria-hidden="true"></i> Vous n'êtes pas selectionné pour ce match</p>
      <% end %>
    </div>
  <% end %>
</div>
