<div class="participations-content-available float-left">
  <h5 class="uppercase text-center margin-right">
  <em>disponibilités</em>
  <% if policy(Participation).select_all? && @event.date >= Date.today %>
    <span class="all-participation-button">
      <%= link_to select_all_path(event_id: @event), class: "link-unstyled" do %>
        <i class="fa fa-file-text blue" aria-hidden="true"></i>
      <% end %>
    </span>
  <% end %>
  </h5>
  <br>
  <hr>
  <% @selectionnable_participations.each do |participation| %>
    <div class="participations-members">
      <div class="participations-members-info">
        <% if participation.user.avatar? %>
          <%= cl_image_tag participation.user.avatar.path, class: "avatar-s float-left margin-right", width: 80, height: 80, crop: :fill %>
        <% else %>
            <%= image_tag "user.png", class:"avatar-s float-left margin-right" %>
        <% end %>
        <span class="blue-dark text-semi-bold text-small margin-left"> <%= participation.user.first_name %> <%= participation.user.last_name %>
        <% if participation.user.manager? %>
          <i class="fa fa-star blue text-normal margin-left"></i>
        <% end %>
        <br>
        <span class="grey-dark text-normal margin-left hidden-xs">
          <% if participation.user.position? %>
            <%= participation.user.position.capitalize %>
          <% else %>
           Position
          <% end %>
        </span>
      </div>
      <% if policy(participation).select? && @event.date >= Date.today %>
        <div class="participations-buttons">
          <div class="participations-buttons-card">
            <%= link_to waiting_list_path(participation), class: "link-unstyled" do %>
              <i class="fa fa-file-text-o red margin-left" aria-hidden="true"></i>
            <% end %>
            <span class="border-right"></span>
            <%= link_to select_path(participation), class: "link-unstyled", method: :put do %>
              <i class="fa fa-file-text-o blue margin-left" aria-hidden="true"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <hr>
  <% end %>
</div>
