<% if user_signed_in? %>
  <% if current_user.has_team %>
  <div class="wrapper">
    <div class="left-container">
      <%= render "/cards/profile-card" %>
      <br>
      <%= render "/cards/infos-card" %>
    </div>
    <div class="center-container">
      <%= render "/cards/progress-card" %>
    </div>
    <div class="right-container">
      <%= render "/cards/next-match-card" %>
      <br>
      <%= render "/cards/team-card" %>
      <br>
      <%= render "/cards/members-card" %>
    </div>
  </div>
  <% else %>
  <div class="wrapper">
    <div class="left-container">
      <%= render "cards/profile-card" %>
      <br>
      <%= render "cards/infos-card" %>
    </div>
    <div class="center-container">
      <% if current_user.members.first.pending == false %>
        <div class="card-empty">
          <%= link_to new_team_path, class: "btn btn-default text-small blue-dark" do %>
            Créer une équipe <i class="fa fa-plus-circle blue margin-left"></i>
          <% end %>
        </div>
      <% else %>
        <%= render 'cards/team-card-large', team: @team %>
      <% end %>
    </div>
    <div class="right-container">
      <div class="card-image-untitle">
        <%= image_tag "team.png", class: "image-team-untitle"%>
        <div class="logo-inside-untitle">
          <%= image_tag "logo.png", style:"width: 50px" %>
        </div>
        <br>
        <br>
        <div class="text-center">
          <br>
          <%= link_to teams_path, class: "btn btn-primary text-small" do %>
            Rejoindre une équipe <i class="fa fa-share white margin-left"></i>
          <% end %>
          <br>
        </div>
      </div>
    </div>
  </div>
  <% end %>
<% else %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%= image_path "background.png" %>);">
  <div class="banner-content">
    <h1>Gérez facilement votre équipe de Foot 5</h1>
    <p>Fini la perte de temps, organisez vos matchs en <span>2min</span></p>
    <p>Gérer un groupe et réunir des joueurs deviens <span>un jeu d’enfant !</span></p>
    <br>
    <%= link_to t(".sign_up", default: "Inscription"), new_user_registration_path, class: "btn btn-lg btn-success" %>
  </div>
</div>
<% end %>
