<% if user_signed_in? %>
  <% if current_user.has_team %>
  <div class="wrapper">
    <div class="left-container">
      <%= render "/cards/profile-card" %>
      <br>
      <%= render "/cards/infos-card" %>
      <br>
      <div class="card-image">
        <div class="title-card text-center">
          <h6 class="uppercase">réseau (<%= @relationships.count %>)</h6>
        </div>
        <br>
        <% @relationships.each do |relationship| %>
          <%= link_to team_path(relationship.team), class: "link-unstyled" do %>
            <%= render 'cards/team-list', team: relationship.team %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="center-container">
      <%= render "/cards/progress-card" %>
    </div>
    <div class="right-container">
      <%= render "/cards/next-match-card" %>
      <br>
      <%= render "/cards/team-card" %>
      <br>
      <%= render "/cards/members-card" %>
    </div>
    <!-- Modal Invitations-->
    <%= render 'teams/modal-invitation' %>
  </div>
  <% else %>
  <div class="wrapper">
    <div class="left-container">
      <%= render "cards/profile-card" %>
      <br>
      <%= render "cards/infos-card" %>
    </div>
    <div class="center-container">
      <% if current_user.members.where("pending = ?", true).size > 0 %>
        <p class="grey-dark text-small text-center">Vous avez une demande en cours...</p>
        <%= render 'cards/team-card-large', team: @team %>
      <% else %>
        <%= render 'cards/empty-card' %>
      <% end %>
    </div>
    <div class="right-container">
      <%= render 'cards/join-team-card' %>
    </div>
  </div>
  <% end %>
<% else %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%= image_path "background.png" %>);">
  <div class="banner-content">
    <h1>Gérez facilement votre équipe de Foot 5</h1>
    <p>Fini la perte de temps, organisez vos matchs en <span>2min</span></p>
    <p>Gérer un groupe et réunir des joueurs deviens <span>un jeu d’enfant !</span></p>
    <br>
    <%= link_to t(".sign_up", default: "Inscription"), new_user_registration_path, class: "btn btn-lg btn-success" %>
  </div>
</div>
<% end %>
