<div class="card no-bottom-radius">
  <div class="title-card ">
    <%= link_to events_path, class: "btn btn-default text-small margin-left" do %>
      Tous les events <i class="fa fa-calendar blue margin-left" aria-hidden="true"></i>
    <% end %>
  </div>
  <br>
  <br>
  <div class="event">
    <div class="calendar-date">
      <div class="month">
        <%= @event.date.strftime("%b") %>.
      </div>
      <h4 class="day"><%= @event.date.strftime("%e") %></h4>
    </div>
    <%= image_tag @event.location.image, class: "float-right", style:"width: 80px" %>
    <div class="event-info">
      <h4 class="uppercase">
        <%= @event.category %>
        <% if policy(@event).update? %>
          <%= link_to edit_event_path(@event), class: "link-unstyled" do %>
            <i class="fa fa-pencil text-large margin-left"></i>
          <% end %>
          <%= link_to event_path(@event), class: "link-unstyled", method: :delete, data: { confirm: "Etes vous sur de vouloir annuler cet évenement ?" } do %>
            <i class="fa fa-ban text-large red margin-left"></i>
          <% end %>
        <% end %>
      </h4>
      <p class="time"><%= @event.time.strftime("%H h %M") %></p>
      <br>
      <p class="grey-medium text-small">
        <span class="margin-right grey-dark"><i class="fa fa-map-marker text-large icon margin-left" aria-hidden="true"></i>
         Lieu: </span> <%= @event.location.name.capitalize %>
      </p>
      <hr>
      <p class="grey-medium text-small">
        <span class="margin-right grey-dark"><i class="fa fa-calendar text-large icon margin-left" aria-hidden="true"></i>
         Date: </span><%= @event.date.strftime("%e %b %Y") %> à <%= @event.time.strftime("%H:%M") %>
      </p>
      <hr>
      <p class="grey-medium text-small">
        <span class="margin-right grey-dark"><i class="fa fa-bullhorn text-large icon" aria-hidden="true"></i>
         Réponses: </span>
        <%= @event.participations.where(validated: true).count %> <i class="fa fa-check-circle green text-large margin-right-m" aria-hidden="true"></i>
        <%= @event.participations.where(refused: true).count %> <i class="fa fa-minus-circle red text-large margin-right-m" aria-hidden="true"></i>
        <%= @event.participations.where(pending: true).count %> <i class="fa fa-question-circle grey-dark text-large margin-right-m" aria-hidden="true"></i>
      </p>
      <hr>
      <br>
      <% if @user_pending_participation %>
        <h6 class="uppercase">serez vous présent ?</h6>
        <%= link_to refused_path(@user_pending_participation), class: "btn btn-default text-small margin-right" do %>
          Refuser <i class="fa fa-minus-circle red text-large margin-left" aria-hidden="true"></i>
        <% end %>
        <%= link_to validated_path(@user_pending_participation), class: "btn btn-success text-small" do %>
          Accepter <i class="fa fa-check-circle white text-large margin-left" aria-hidden="true"></i>
        <% end %>
      <% elsif @user_validated_participation %>
        <p class="text-large green"><i class="fa fa-check-circle green text-large margin-right" aria-hidden="true"></i> Vous avez accepté</p>
      <% elsif @user_refused_participation %>
        <p class="text-large red"><i class="fa fa-minus-circle red text-large margin-right" aria-hidden="true"></i> Vous avez refusé</p>
      <% else %>
        <p class="text-small grey-medium"><i class="fa fa-times-circle text-large margin-right" aria-hidden="true"></i> Vous n'êtes pas selectionné pour ce match</p>
      <% end %>
    </div>
  </div>
</div>
<div class="participations-card">
  <%= render 'cards/event-disponibilities' %>
  <%= render 'cards/event-composition' %>
  <div class="participations-content-waiting-list float-right">
    <h5 class="uppercase text-center"><em>liste d'attente</em> <i class="fa fa-file-text-o red margin-left" aria-hidden="true"></i></h5>
    <br>
    <hr>
    <div class="waiting-list-empty-message text-center">
      <span class="grey-medium text-normal text-small">
        <em>Les membres de cette liste seront informés automatiquement si un membre de votre équipe refuse d'être présent à l'événement</em>
        <br>
        <i class="fa fa-share text-normal red margin-left"></i> </span>
    </div>
    <hr>
  </div>
</div>
