<div class="card no-bottom-radius">
  <div class="title-card ">
    <%= link_to events_path, class: "btn btn-default text-small margin-left" do %>
      Tous les events <i class="fa fa-calendar blue margin-left" aria-hidden="true"></i>
    <% end %>
  </div>
  <br>
  <br>
  <div class="event">
    <div class="calendar-date">
      <div class="month">
        <%= @event.date.strftime("%b") %>.
      </div>
      <h4 class="day"><%= @event.date.strftime("%e") %></h4>
    </div>
    <%= image_tag @event.location.image, class: "float-right", style:"width: 80px" %>
    <div class="event-info">
      <h4 class="uppercase">
        <%= @event.category %>
        <% if policy(@event).update? %>
          <%= link_to edit_event_path(@event), class: "link-unstyled" do %>
            <i class="fa fa-pencil text-large margin-left"></i>
          <% end %>
          <%= link_to event_path(@event), class: "link-unstyled", method: :delete, data: { confirm: "Etes vous sur de vouloir annuler cet évenement ?" } do %>
            <i class="fa fa-ban text-large red margin-left"></i>
          <% end %>
        <% end %>
      </h4>
      <p class="time"><%= @event.time.strftime("%H h %M") %></p>
      <br>
      <p class="grey-medium text-small">
        <span class="margin-right grey-dark"><i class="fa fa-map-marker text-large icon margin-left" aria-hidden="true"></i>
         Lieu: </span> <%= @event.location.name.capitalize %>
      </p>
      <hr>
      <p class="grey-medium text-small">
        <span class="margin-right grey-dark"><i class="fa fa-calendar text-large icon margin-left" aria-hidden="true"></i>
         Date: </span><%= @event.date.strftime("%e %b %Y") %> à <%= @event.time.strftime("%H:%M") %>
      </p>
      <hr>
      <p class="grey-medium text-small">
        <span class="margin-right grey-dark"><i class="fa fa-bullhorn text-large icon" aria-hidden="true"></i>
         Réponses: </span>
         0 <i class="fa fa-check-circle green text-large icon margin-left" aria-hidden="true"></i>
         0 <i class="fa fa-minus-circle red text-large icon margin-left" aria-hidden="true"></i>
         0 <i class="fa fa-question-circle grey-normal text-large icon margin-left" aria-hidden="true"></i>
      </p>
      <hr>
      <br>
      <h6 class="uppercase">serez vous présent ?</h6>
      <%= link_to "#", class: "btn btn-default text-small margin-right" do %>
        Refuser <i class="fa fa-minus-circle red text-large margin-left" aria-hidden="true"></i>
      <% end %>
      <%= link_to "#", class: "btn btn-success text-small" do %>
        Accepter <i class="fa fa-check-circle white text-large margin-left" aria-hidden="true"></i>
      <% end %>
    </div>
  </div>
</div>
<div class="participations-card">
  <div class="participations-content-available float-left">
    <h5 class="uppercase text-center"><em>disponibilité</em></h5>
    <br>
    <hr>
    <% @event.team.members.each do |member| %>
      <div class="participations-members">
        <div class="participations-members-info">
          <% if member.user.avatar? %>
            <%= cl_image_tag member.user.avatar.path, class: "avatar-s float-left margin-right", width: 80, height: 80, crop: :fill %>
          <% else %>
              <%= image_tag "user.png", class:"avatar-s float-left margin-right" %>
          <% end %>
          <span class="blue-dark text-semi-bold text-small margin-left"> <%= member.user.first_name %> <%= member.user.last_name %>
          <% if member.user.manager? %>
            <i class="fa fa-star blue text-normal margin-left"></i>
          <% end %>
          <br>
          <span class="grey-dark text-normal margin-left">
            <% if member.user.position? %>
              <%= member.user.position.capitalize %>
            <% else %>
             Position
            <% end %>
          </span>
        </div>
        <div class="participations-buttons">
            <i class="fa fa-file-text-o red margin-left" aria-hidden="true"></i>
            <span class="border-right"></span>
            <i class="fa fa-file-text-o blue margin-left" aria-hidden="true"></i>
        </div>
      </div>
      <hr>
    <% end %>
  </div>
  <div class="participations-content-composition float-right">
    <h5 class="uppercase text-center"><em>composition</em> <i class="fa fa-file-text-o blue margin-left" aria-hidden="true"></i></h5>
    <br>
    <hr>
    <% @event.team.members.each do |member| %>
      <div class="participations-members">
        <div class="convocations-members-info">
          <% if member.user.avatar? %>
            <%= cl_image_tag member.user.avatar.path, class: "avatar-s float-left margin-right", width: 80, height: 80, crop: :fill %>
          <% else %>
              <%= image_tag "user.png", class:"avatar-s float-left margin-right" %>
          <% end %>
          <span class="blue-dark text-semi-bold text-small margin-left"> <%= member.user.first_name %> <%= member.user.last_name %>
          <% if member.user.manager? %>
            <i class="fa fa-star blue text-normal margin-left"></i>
          <% end %>
          <br>
          <span class="grey-dark text-normal margin-left">
            <% if member.user.position? %>
              <%= member.user.position.capitalize %>
            <% else %>
             Position
            <% end %>
          </span>
        </div>
        <div class="convocations-buttons">
          <i class="fa fa-undo text-small grey-normal margin-right" aria-hidden="true"></i>
          <i class="fa fa-file-text-o red text-small margin-left" aria-hidden="true"></i>
        </div>
      </div>
      <hr>
    <% end %>
    <br>
    <br>
    <%= link_to "#", class: "btn btn-primary text-small float-right margin-right" do %>
      Envoyer les covocs <i class="fa fa-envelope white margin-left" aria-hidden="true"></i>
    <% end %>
    <br>
    <br>
  </div>
</div>
