<div class="participations-content-composition float-right">
  <h5 class="uppercase text-center"><em>composition</em> <i class="fa fa-file-text-o blue margin-left" aria-hidden="true"></i></h5>
  <br>
  <% if @selected_participations.empty? %>
    <hr>
    <div class="convocations-empty-message text-center">
      <span class="grey-medium text-normal text-small"><em>Ajoutez vos membres</em>
        <br>
        <i class="fa fa-share text-normal blue margin-left"></i> </span>
    </div>
  <% end %>
  <hr>
  <% @selected_participations.each do |participation| %>
    <div class="participations-members">
      <div class="convocations-members-info">
        <% if participation.user.avatar? %>
          <%= cl_image_tag participation.user.avatar.path, class: "avatar-s float-left margin-right", width: 80, height: 80, crop: :fill %>
        <% else %>
            <%= image_tag "user.png", class:"avatar-s float-left margin-right" %>
        <% end %>
        <span class="blue-dark text-semi-bold text-small margin-left"> <%= participation.user.first_name %> <%= participation.user.last_name %>
        <% if participation.user.manager? %>
          <i class="fa fa-star blue text-normal margin-left"></i>
        <% end %>
        <br>
        <span class="grey-dark text-normal margin-left">
          <% if participation.user.position? %>
            <%= participation.user.position.capitalize %>
          <% else %>
           Position
          <% end %>
        </span>
      </div>
      <div class="convocations-buttons">
        <% if participation.pending == true %>
          <i class="fa fa-question-circle text-large grey-dark margin-left" aria-hidden="true"></i>
        <% elsif participation.validated == true %>
          <i class="fa fa-check-circle text-large green margin-left" aria-hidden="true"></i>
        <% elsif participation.refused == true %>
          <i class="fa fa-minus-circle text-large red margin-left" aria-hidden="true"></i>
        <% else %>
          <% if policy(participation).unselect? %>
            <%= link_to unselect_path(participation), class: "link-unstyled", method: :patch do %>
              <i class="fa fa-undo text-small grey-normal margin-right" aria-hidden="true"></i>
            <% end %>
            <i class="fa fa-file-text-o red text-small margin-left" aria-hidden="true"></i>
          <% end %>
        <% end %>
      </div>
    </div>
    <hr>
  <% end %>
  <br>
  <br>
  <%= link_to sent_path(event_id: @event), class: "btn btn-primary text-small float-right margin-right", method: :patch do %>
    Envoyer les covocs <i class="fa fa-envelope white margin-left" aria-hidden="true"></i>
  <% end %>
  <br>
  <br>
</div>
