<div class="card-image">
  <div class="title-card">
    <h6 class="text-center">MEMBRES</h6>
    <% if current_user.manager %>
      <% if policy(@invitation).create? %>
        <i class="fa fa-plus-circle text-xl blue title-card-icon" data-toggle="modal" data-target="#modalInvitations"></i>
      <% end %>
    <% end %>
  </div>
  <br>
  <% @members.each do |member| %>
    <div class="list-card-m" data-target="#member-<%= member.id %>">
      <% if member.user.avatar? %>
        <%= cl_image_tag member.user.avatar.path, class: "avatar-m float-left", width: 100, height: 100, crop: :fill %>
      <% else %>
          <%= image_tag "user.png", class:"avatar-m float-left" %>
      <% end %>
      <span class="blue-dark text-semi-bold text-small"><%= member.user.first_name %> <%= member.user.last_name %>
      <% if member.user.manager? %>
        <i class="fa fa-star blue text-normal margin-left"></i>
      <% end %>
      <br>
      <span class="grey-dark text-normal">
        <% if member.user.position? %>
          <%= member.user.position.capitalize %>
        <% else %>
         Position
        <% end %>
       </span>
    </div>
  <% end %>
</div>
