<div class="card-image">
  <div class="title-card">
    <h6 class="text-center">MEMBRES</h6>
    <% if current_user.manager %>
      <% if policy(@invitation).create? %>
        <i class="fa fa-plus-circle text-xl blue title-card-icon top-popover" data-content="Inviter les membres de votre équipe" data-toggle="modal" data-target="#modalInvitations"></i>
      <% end %>
    <% end %>
  </div>
  <br>
  <% @members.each do |member| %>
    <% if current_page?(root_path) %>
      <%= link_to user_path(member.user), class: "link-unstyled" do %>
        <div class="list-card-m" data-target="#member-<%= member.id %>">
          <% if member.user.avatar? %>
            <%= cl_image_tag member.user.avatar.path, class: "avatar-m float-left", width: 100, height: 100, crop: :fill %>
          <% else %>
              <%= image_tag "user.png", class:"avatar-m float-left" %>
          <% end %>
          <span class="blue-dark text-semi-bold text-small"><%= member.user.first_name %> <%= member.user.last_name %>
          <% if member.user.manager? %>
            <i class="fa fa-star blue text-normal margin-left"></i>
          <% end %>
          <br>
          <span class="grey-dark text-normal hidden-lg-infos">
            <% if member.user.position? %>
              <%= member.user.position.capitalize %>
            <% else %>
             Position
            <% end %>
           </span>
        </div>
      <% end %>
    <% else %>
      <div class="list-card-m hidden-xs" data-target="#member-<%= member.id %>">
        <% if member.user.avatar? %>
          <%= cl_image_tag member.user.avatar.path, class: "avatar-m float-left", width: 100, height: 100, crop: :fill %>
        <% else %>
            <%= image_tag "user.png", class:"avatar-m float-left" %>
        <% end %>
        <span class="blue-dark text-semi-bold text-small"><%= member.user.first_name %> <%= member.user.last_name %>
          <% if member.user.manager? %>
            <i class="fa fa-star blue text-normal margin-left"></i>
          <% end %>
          <br>
          <span class="grey-dark text-normal hidden-lg-infos">
            <% if member.user.position? %>
              <%= member.user.position.capitalize %>
            <% else %>
             Position
            <% end %>
           </span>
         </span>
      </div>
      <%= link_to user_path(member.user), class: "link-unstyled hidden-sm hidden-md hidden-lg" do %>
        <div class="list-card-m">
          <% if member.user.avatar? %>
            <%= cl_image_tag member.user.avatar.path, class: "avatar-m float-left", width: 100, height: 100, crop: :fill %>
          <% else %>
              <%= image_tag "user.png", class:"avatar-m float-left" %>
          <% end %>
          <span class="blue-dark text-semi-bold text-small"><%= member.user.first_name %> <%= member.user.last_name %>
            <% if member.user.manager? %>
              <i class="fa fa-star blue text-normal margin-left"></i>
            <% end %>
            <br>
            <span class="grey-dark text-normal hidden-lg-infos">
              <% if member.user.position? %>
                <%= member.user.position.capitalize %>
              <% else %>
               Position
              <% end %>
            </span>
          </span>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
