<div class="card">
  <div class="title-card text-center">
    <h6>PROCHAIN MATCH</h6>
    <% if policy(Event).create? %>
      <%= link_to new_event_path, class: "link-unstyled hidden-lg-infos"  do %>
        <i class="fa fa-plus-circle text-xl blue title-card-icon top-popover" data-content="Ajouter un évenement"></i>
      <% end %>
    <% end %>
  </div>
  <br>
  <br>
  <% if @next_event %>
    <%= link_to event_path(@next_event), class: "link-unstyled" do %>
      <div class="float-left">
        <div class="calendar-date-xs">
          <div class="month-xs">
            <%= @next_event.date.strftime("%b") %>.
          </div>
          <h5 class="day-xs"><%= @next_event.date.strftime("%e") %></h5>
        </div>
      </div>
      <div class="margin-left">
        <p class="blue-dark text-small margin-right">
          <%= @next_event.category %> à <%= @next_event.time.strftime("%H:%M") %>
          <% if @next_event.participations.where(user: current_user, pending: true, waiting_list: false).first %>
            <span><i class="fa fa-question-circle grey-dark text-large margin-left" aria-hidden="true"></i></span>
          <% elsif @next_event.participations.where(user: current_user, validated: true).first %>
            <span><i class="fa fa-check-circle green text-large margin-left" aria-hidden="true"></i></span>
          <% elsif @next_event.participations.where(user: current_user, refused: true).first %>
            <span><i class="fa fa-minus-circle red text-large margin-left" aria-hidden="true"></i></span>
          <% elsif @next_event.participations.where(user: current_user, waiting_list: true).first %>
            <span><i class="fa fa-file-text-o red text-small margin-left" aria-hidden="true"></i></span>
          <% else %>
            <span><i class="fa fa-times-circle grey-medium text-large margin-left" aria-hidden="true"></i></span>
          <% end %>
        </p>
        <div class="hidden-lg-infos">
          <p class="grey-dark text-small line-height-s margin-right hidden-lg-infos"> <%= @next_event.location.name.capitalize %> - <%= @next_event.address.capitalize[0..20] %></p>
        </div>
      </div>
    <% end %>
  <% else %>
    <p class="blue-dark text-small text-center"><i class="fa fa-calendar icon blue text-large"></i> Aucun match de planifié</p>
  <% end %>
</div>
