<div class="card">
  <div class="title-card text-center">
    <h6>PROCHAIN MATCH</h6>
    <% if policy(Event).create? %>
      <%= link_to new_event_path, class: "link-unstyled" do %>
        <i class="fa fa-plus-circle text-xl blue title-card-icon"></i>
      <% end %>
    <% end %>
  </div>
  <br>
  <br>
  <% if @next_event %>
  <div class="float-left">
    <div class="calendar-date-xs">
      <div class="month-xs">
        <%= @next_event.date.strftime("%b") %>.
      </div>
      <h5 class="day-xs"><%= @next_event.date.strftime("%e") %></h5>
    </div>
  </div>
  <div class="margin-left">
    <p class="blue-dark text-small margin-right"> <%= @next_event.category %> à <%= @next_event.time.strftime("%l:%M") %></p>
    <p class="grey-dark text-small line-height-s margin-right"> <%= @next_event.location.name.capitalize %> - <%= @next_event.address.capitalize %></p>
  </div>
  <% else %>
    <p class="blue-dark text-small text-center"><i class="fa fa-calendar icon blue text-large"></i> Aucun match de planifié</p>
  <% end %>
</div>
