<div class="card-image">
  <div class="title-card text-center">
    <h6>DEMANDES EN ATTENTE</h6>
  </div>
  <br>
  <% @members_pending.each do |member| %>
    <%= link_to "#", class: "link-unstyled" do %>
      <div class="list-card-m">
        <% if member.user.avatar? %>
          <%= cl_image_tag member.user.avatar.path, class: "avatar-m float-left", width: 100, height: 100, crop: :fill %>
        <% else %>
            <%= image_tag "user.png", class:"avatar-m float-left" %>
        <% end %>
        <span class="blue-dark text-semi-bold text-small"><%= member.user.first_name %> <%= member.user.last_name %>
        <br>
        <span class="grey-dark text-normal">
          <% if member.user.position? %>
            <%= member.user.position.capitalize %>
          <% else %>
           Position
          <% end %>
         </span>
         <% if current_user == @team.user %>
          <div class="float-right">
            <%= link_to member_path(member.id), class: "link-unstyled", method: :delete, data: { confirm: "Etes vous sur de vouloir annuler cette demande ?"} do %>
              <i class="fa fa-times-circle margin-right text-xl red" aria-hidden="true"></i>
            <% end %>
            <%= link_to member_path(member.id), class: "link-unstyled", method: :put, data: { confirm: "Etes vous sur de vouloir valider cette demande ?"} do %>
              <i class="fa fa-check-circle margin-left text-xl green" aria-hidden="true"></i>
            <% end %>
          </div>
         <% end %>
      </div>
    <% end %>
  <% end %>
</div>
