<div class="card text-center">
  <% if current_user.avatar? %>
    <%= cl_image_tag current_user.avatar.path, class: "avatar-large", width: 160, height: 160, crop: :fill %>
  <% else %>
    <%= image_tag "user.png", class: "avatar-large"%>
  <% end %>
  <% if current_user.first_name && current_user.last_name %>
    <h5><%= current_user.first_name.capitalize %> <%= current_user.last_name.upcase %></h5>
  <% else %>
    <h5>Prénom Nom</h5>
  <% end %>
  <% if current_user.position %>
    <h6><%= current_user.position.capitalize %></h6>
  <% else %>
    <h6>Position</h6>
  <% end %>
  <%= image_tag "logo.png", class: "text-marged logo-s"%>
  <% if current_user.has_team %>
    <p class="blue-dark text-large text-semi-bold"><%= current_user.members.first.team.name %></p>
    <% else %>
    <p class="blue-dark text-large text-semi-bold">Joueur libre</p>
  <% end %>
  <% if current_user.city == nil || current_user.city == "" %>
    <p class="grey-dark text-small"><i class="fa fa-map-marker"></i> Ville</p>
  <% else %>
    <p class="grey-dark text-small"><i class="fa fa-map-marker"></i> <%= current_user.city.capitalize %></p>
  <% end %>
  <div class="bottom-right-icon">
    <%= link_to edit_user_registration_path(current_user) do %>
      <i class="fa fa-cog grey-dark text-large"></i>
    <% end %>
  </div>
</div>
