<div class="card-teams">
  <div class="card-team-left">
    <% if team.photo? %>
      <%= link_to team_path(team) do %>
        <%= cl_image_tag team.photo.path, class: "image-team-s", width: 1000, height: 600, crop: :fill %>
      <% end %>
    <% else %>
      <%= link_to team_path(team) do %>
        <%= image_tag "team.png", class: "image-team-s", crop: :fill %>
      <% end %>
    <% end %>
    <div class="logo-inside-s">
      <% if team.logo %>
        <%= image_tag team.logo.image %>
      <% else %>
        <%= image_tag "logo.png" %>
      <% end %>
    </div>
    <div class="info-team text-center">
      <br>
      <br>
      <p class="blue-dark text-large"><%= team.name %> </br >
        <span class="grey-dark text-small"><i class="fa fa-map-marker"></i> <%= team.city %></span>
      </p>
      <div class="button-action-hidden">
        <% if current_user.members.where("pending = ?", true).first && current_user.members.where("pending = ?", true).first.team == team %>
          <%= link_to member_path(current_user.members.first.id), class: "btn btn-default text-small", method: :delete, data: { confirm: "Etes vous sur de vouloir annuler cette demande ?"} do %>
            <span class="red">Annuler <i class="fa fa-times margin-left"></i></span>
          <% end %>
        <% elsif policy(Member).create? %>
          <%= link_to members_path(team_id: team.id), class: "btn btn-default text-small", method: :post do %>
          Rejoindre <i class="fa fa-plus-circle blue"></i>
          <% end %>
        <% else %>
          <%= link_to "#", class: "btn btn-default text-small" do %>
          Contacter <i class="fa fa-envelope blue margin-left"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-team-right">
    <% if current_user.members.where("pending = ?", true).first && current_user.members.where("pending = ?", true).first.team == team %>
        <span class="blue-dark text-small">Demande envoyée <i class="fa fa-paper-plane margin-left blue"></i></span>
    <% end %>
    <% if current_user.has_team == false || current_user.members.first.team != team %>
      <% if current_user.has_relationship?(team) %>
        <%= link_to relationship_path(current_user.relationships.where(team: team).first), method: :delete, class: "float-right" do %>
          <i class="fa fa-minus-circle text-xl blue margin-left"></i>
        <% end %>
      <% else %>
        <%= link_to relationships_path(team_id: team.id), method: :post, class: "float-right" do %>
          <i class="fa fa-plus-circle text-xl blue margin-left"></i>
        <% end %>
      <% end %>
    <% end %>
    <br>
    <br>
    <div class="text-left clear">
      <p class="grey-dark text-small"><span class="blue-dark text-small">Date de création :</span>  <%= team.created_at.strftime("%Y") %></p>
      <p class="grey-dark text-small"><span class="blue-dark text-small">Matchs joués :</span>  <%= team.events.where("date < ?", Date.today).size %>  <i class="fa fa-futbol-o blue margin-left"></i></p>
      <p class="grey-dark text-small"><span class="blue-dark text-small">Nb de membres :</span>  <%= team.members.size %>  <i class="fa fa-male blue text-large margin-left"></i></p>
      <% if team.location %>
        <p class="grey-dark text-small"><span class="blue-dark text-small">Centre favori :</span> <%= team.location.name %></p>
      <% end %>
    </div>
    <div class="bottom-card-s">
      <div class="button-link">
        <%= link_to team_path(team), class: "btn btn-primary text-small" do %>
          Voir <i class="fa fa-arrow-right margin-left"></i>
        <% end %>
      </div>
      <div class="button-action">
        <% if current_user.members.where("pending = ?", true).first && current_user.members.where("pending = ?", true).first.team == team %>
          <%= link_to member_path(current_user.members.first.id), class: "btn btn-default text-small", method: :delete, data: { confirm: "Etes vous sur de vouloir annuler cette demande ?"} do %>
            <span class="red">Annuler <i class="fa fa-times margin-left"></i></span>
          <% end %>
        <% elsif policy(Member).create? %>
          <%= link_to members_path(team_id: team.id), class: "btn btn-default text-small", method: :post do %>
          Rejoindre <i class="fa fa-plus-circle blue"></i>
          <% end %>
        <% else %>
          <%= link_to "#", class: "btn btn-default text-small" do %>
          Contacter <i class="fa fa-envelope blue margin-left"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
