<div class="card-image">
  <div class="title-card text-center">
    <h6>MON EQUIPE</h6>
  </div>
  <% if @team.photo? %>
    <%= link_to team_path(current_user.members.first.team) do %>
      <%= cl_image_tag @team.photo.path, class: "image-team", width: 800, height: 500, crop: :fill %>
    <% end %>
  <% else %>
    <%= link_to team_path(current_user.members.first.team) do %>
      <%= image_tag "team.png", class: "image-team"%>
    <% end %>
  <% end %>
  <div class="logo-inside">
    <% if @team.logo %>
      <%= image_tag @team.logo.image, style:"width: 50px" %>
    <% else %>
      <%= image_tag "logo.png", style:"width: 50px" %>
    <% end %>
  </div>
  <br>
  <br>
  <div class="text-center">
    <br>
    <% if current_user.has_team %>
      <p class="blue-dark text-large text-semi-bold"><%= @team.name %></p>
    <% end %>
    <p class="grey-dark text-small"><i class="fa fa-map-marker"></i> <%= current_user.members.first.team.city %></p>
  </div>
  <div class="bottom-right-icon">
    <% if policy(@team).update? %>
      <%= link_to edit_team_path(@team) do %>
        <i class="fa fa-cog grey-dark text-large"></i>
      <% end %>
    <% end %>
  </div>
</div>
